node_modules/*
!node_modules/activedirectory
!node_modules/memory-cache
!node_modules/app
docs/
json/
public
server
viLogged-Client
.tmp
.idea/
config/config.json
system.json
viLogged.db
viLogged
notification-log.json
test.js
*.log